
@{
    ViewData["Title"] = "Calender";
}

<style>
    .sidenav {
        width: 130px;
        position: fixed;
        z-index: 1;
        top: 150px;
        left: 10px;
        background: #2196F3;
        overflow-x: hidden;
        padding: 8px 0;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #2196F3;
            display: block;
        }

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

 </style>

<!-- SideNav -->
<div class="sidenav">
    <a class="w3-button w3-block w3-blue" style="font-size:15px"asp-area="" asp-controller="Appointments" asp-action="Index" asp-route-id="2">Appointments</a>
    <a class="w3-button w3-block w3-blue" style="font-size:15px"asp-area="" asp-controller="Deadlines" asp-action="Index" asp-route-id="2"> Deadlines</a>
</div>

<!-- Page content -->
<div class="main">
    ...
</div>




<script>







</script>