<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/w3.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family-Inconsolata" />


    <style>
        body, html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
            background-color: #FFF;
        }

        .bgimg {    
            background-position: center;
            background-size: cover;
            width: 100%;
            min-height: 75%;
            padding-top: 120px;
        }

        .menu {
            display: none;
        }
    </style>

    <title>@ViewBag.Title</title>
</head>

<body>
    <h1 class="w3-top" style="text-align:center">Time-Keeper</h1>
    <!-- links sit here-->
    <div class=" w3-top" style="top:70px">
        <div class="w3-row w3-padding w3-blue">
            <div class="w3-col s1">
                <a class="w3-button w3-blue" asp-area="" asp-controller="Home" asp-action="Index"><span class="w3-text-white">Home</span></a>
            </div>
            <div class="w3-col s1">
                <a class="w3-button w3-blue" asp-area="" asp-controller="Dashboard" asp-action="Index"><span class="w3-text-white">Dashboard</span></a>
            </div>

        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)


</body>




</html>