<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/w3.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family-Inconsolata" />


    <style>
        body, html {
            height: 100%;
            font-family: "Inconsolata", sans-serif;
            background-color: #404040;
        }

        .bgimg {
            background-position: center;
            background-size: cover;
            width: 100%;
            min-height: 75%;
        }

        .menu {
            display: none;
        }
    </style>

    <title>@ViewBag.Title</title>
</head>

<body>
    <!-- links sit here-->
    <div class=" w3-top">
        <div class="w3-row w3-padding w3-black">
            <div class="w3-col s4">
                <a class="w3-button w3-block w3-black" asp-area="" asp-controller="Home" asp-action="Index"><span class="w3-text-white">Home</span></a>
            </div>
            <div class="w3-col s4">
                <a class="w3-button w3-block w3-black" asp-area="" asp-controller="Calender" asp-action="Calender"><span class="w3-text-white">View Calender</span></a>
            </div>
            <div style="float:right">
                <label for="user_select">Current user:</label>

                <select name="user_select" id="user_select">
                    <option value="Parent">Parent</option>
                    <option value="Child_1">Child 1</option>
                    <option value="Child_2">Child 2</option>
                    <option value="Child_3">Child 3</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>


</body>




</html>