@{
    ViewData["Title"] = "Home Page";
}

    <div style="height:750px;">
        <!--header w/ img-->
        <header class="w3-display-container w3-greyscale-min" id="home">

        </header>
    </div>

                <div class="w3-display-middle w3-center">
                    <span class="w3-text-black" style="font-size:90px">Time<br>Keeper</span>
                </div> 



        <!-- background colour + large text-->
        <div class="w3-sand w3-greyscale w3-large">

        </div>
